@import url("../fonts.css");
*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0 auto !important;
  background-color: #fdf9f9 !important; }

li {
  list-style: none; }

i {
  cursor: pointer; }

p {
  font-family: "AvenirNext" !important; }

a {
  color: black !important;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "CTCSplachRounded" !important; }

hr {
  border: 1px solid #979797; }

.view {
  height: 100%; }

html,
body {
  overflow-x: hidden; }

.center-line {
  text-decoration: line-through; }

@media (max-width: 740px) {
  .view {
    height: 1000px; } }

@media (min-width: 800px) and (max-width: 850px) {
  .view {
    height: 650px; } }

.footer .footerCol p {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.044px; }

.footer .footerCol .lists {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.056px; }
  .footer .footerCol .lists a {
    display: flex;
    flex-direction: column; }
  .footer .footerCol .lists p {
    font-size: 12px;
    line-height: 0;
    letter-spacing: 0.048px; }

.footer .footerCol .socials p {
  margin-right: 20px; }

.footer .footerCol .socials--icons {
  color: #EF2221;
  font-size: 20px; }
  .footer .footerCol .socials--icons i {
    width: 47px;
    height: 47px;
    border: 1px solid #EF2221;
    border-radius: 100%; }
    .footer .footerCol .socials--icons i:first-child {
      padding: 15px;
      padding-bottom: 17px;
      padding-top: 15px; }
    .footer .footerCol .socials--icons i:last-child {
      font-size: 21px;
      padding: 13px; }

.footer .footerCol .extra-info {
  display: flex;
  flex: 1 0 auto;
  justify-content: start;
  align-items: center;
  padding: 23px 29px;
  border: 1px solid #DEDEDE;
  border-radius: 15px;
  transition: .3s;
  cursor: pointer;
  margin-bottom: 15px; }
  .footer .footerCol .extra-info:hover {
    background-color: #f2f2f2; }
  .footer .footerCol .extra-info p {
    color: #000000;
    margin-left: 29px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.056px; }

.view {
  background: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.links {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.056px; }

.logo {
  color: #EF2221 !important;
  font-size: 25px;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.12px; }

.header-text {
  justify-content: space-around; }

.header-imgs {
  display: flex;
  justify-content: space-between; }
  .header-imgs--right {
    display: flex;
    flex-direction: column-reverse; }

.secondary-header {
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.16px; }

.burger {
  color: red !important; }

.phone-numbers {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.08px;
  color: #929292;
  display: none !important; }
  .phone-numbers li {
    margin-left: 25px; }
    .phone-numbers li .fa-whatsapp {
      color: green !important;
      margin-right: 5px; }
    .phone-numbers li b {
      color: black; }

.main-info p {
  padding: 0 25px; }

.box {
  border: 0.2px solid #dddcdc;
  padding: 10px 18px;
  padding-bottom: 0;
  border-radius: 15px;
  text-align: center; }
  .box:last-child {
    background-color: #dddcdc; }

.calculator-band {
  background-color: white;
  border-radius: 15px;
  padding: 40px 25px;
  -webkit-box-shadow: 12px 47px 59px -22px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 12px 47px 59px -22px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 47px 59px -22px rgba(0, 0, 0, 0.3); }
  .calculator-band .takebtn {
    border: none;
    background-color: #EF2221;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 15px; }

.calculator .texts {
  display: none !important; }

.money-progress {
  height: .5rem;
  width: 100%;
  background-color: #EAEAEA;
  border-radius: 4px; }

.money-progress .bar {
  height: 100%;
  background-color: #d8d5d5;
  border-radius: 4px; }

#money-progress-handle {
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -5px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid #D3D5DF;
  border-top-color: #D3D5DF;
  border-right-color: #D3D5DF;
  transform: rotate(45deg);
  border-radius: 100%;
  background-color: #EF2221;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.draggable {
  float: left;
  margin: 0 10px 10px 0; }

.primary {
  margin-top: 55px; }

.links {
  display: flex; }
  .links li a {
    color: #353434 !important;
    font-size: 16px;
    text-decoration: none; }

.secondary-info .head-p {
  display: none; }

.secondary-red {
  color: #EF2221 !important; }

.secondary span {
  display: block; }

.red {
  color: #EF2221; }

.other-info {
  line-height: .5;
  margin-left: 15px; }

.percentage {
  font-size: 100px; }

nav {
  margin: 0; }

main {
  margin: 0; }

.big {
  color: #EF2221;
  font-size: 450px;
  font-weight: bold;
  letter-spacing: 15px; }

.big-right {
  display: flex;
  align-items: center;
  flex-direction: column-reverse; }

.info {
  display: block; }

.advantages {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .advantages--box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
    padding-bottom: 0;
    height: 300px;
    width: 300px;
    border-radius: 1200px;
    border: 1px solid black; }
    .advantages--box:first-child {
      left: 10% !important; }

.main-info p {
  border-bottom: 0.8px solid #aca8a8;
  border-bottom-style: dotted; }
  .main-info p:last-child {
    border: none; }
  .main-info p:first-child {
    margin-top: 15px; }
  .main-info p b {
    display: inline-block; }

.secondary-info .head-p {
  display: inherit; }

.secondary-info--texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.box {
  flex: 1 0 auto; }

.present {
  position: relative;
  font-weight: bold; }
  .present:nth-child(2) .content h2 {
    font-size: 120px;
    letter-spacing: 0.48px;
    line-height: 135px; }
  .present .content {
    right: 15%;
    top: 15%;
    position: absolute;
    font-family: "CTCSplachRounded";
    text-align: left; }
    .present .content h2 {
      font-size: 60px;
      letter-spacing: 0.24px;
      line-height: 67px; }
    .present .content p {
      font-size: 20px;
      line-height: 22px; }
  .present .content-bottom {
    position: absolute;
    bottom: 2%;
    right: 15%; }

.step {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .step:nth-child(2) img {
    height: 193px; }

.stepmoney .little-header {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.072px; }

.stepmoney .whyus {
  font-size: 50px;
  font-family: "CTCSplachRounded";
  line-height: 56px;
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: normal;
  text-align: center; }
  .stepmoney .whyus--little {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.12px;
    font-family: "AvenirNext";
    font-style: normal;
    font-weight: normal; }

.advantages .advantage {
  display: flex;
  justify-content: start;
  margin-bottom: 35px; }
  .advantages .advantage--text {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.096px; }
  .advantages .advantage img {
    height: 55px;
    width: 55px;
    margin-right: 25px; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 55px 0; }
  .button button {
    color: white;
    background-color: #EF2221;
    border-radius: 6px;
    border: none;
    padding: 18px 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }

.bottom-banner {
  height: 80vh;
  background: url(../img/bottomBanner.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  padding: 38px 0; }
  .bottom-banner .bContent {
    width: 55%;
    float: left; }
    .bottom-banner .bContent h1 {
      font-size: 150px;
      line-height: 168px;
      letter-spacing: 0.6px; }
    .bottom-banner .bContent .topText {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .bottom-banner .bContent .topText p {
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.12px; }
    .bottom-banner .bContent p {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.056px;
      width: 50%; }
    .bottom-banner .bContent--links {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.072px; }
      .bottom-banner .bContent--links button:first-child {
        color: white;
        background-color: #EF2221;
        border-radius: 6px;
        border: none;
        padding: 17px 32px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 42px; }
      .bottom-banner .bContent--links button:nth-child(2) {
        border: none; }

.bottom-banner--text {
  margin: 70px 0; }

@media only screen and (max-width: 768px) {
  .main-info p {
    display: flex;
    justify-content: space-between; }
  .header-imgs img:first-child {
    margin-right: 15px; }
  .header-imgs--right img:last-child {
    margin-bottom: 21px; }
  .bottom-banner {
    display: none; }
  .present:nth-child(2) .content {
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 15px;
    padding: 18px; }
  .whyus-footer .whyus {
    text-align: left;
    font-size: 30px; }
    .whyus-footer .whyus--little {
      font-size: 24px !important; }
  .stepmoney .rounded button {
    border-radius: 30px; }
  .footer .footerCol .socials {
    display: flex;
    justify-content: start;
    align-items: center; }
    .footer .footerCol .socials--icons {
      color: #EF2221; }
  .footerCols {
    display: flex;
    flex-direction: row;
    justify-content: start; }
    .footerCols:after, .footerCols:before {
      display: flex; }
    .footerCols .footerCol:nth-child(5) {
      flex: 3; }
    .footerCols .footerCol:nth-child(6) {
      flex: 4; } }

@media only screen and (min-width: 768px) {
  .header-imgs {
    display: flex;
    justify-content: space-around; }
    .header-imgs--right {
      display: flex;
      justify-content: space-between;
      flex-direction: row; }
      .header-imgs--right img:first-child {
        margin-right: 18px; }
  .advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  hr {
    margin: 0 20px;
    border: 1px solid #DBDBDB; }
  .big-right {
    display: flex;
    flex-direction: row; }
  .phone-numbers {
    display: flex !important; }
  .calculator .texts {
    display: flex !important;
    justify-content: space-between; }
  .main-info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-info p {
      border: none;
      text-decoration: none; }
      .main-info p:first-child {
        margin-top: 0; }
      .main-info p b {
        display: block; }
  .whyus-footer .whyus span:nth-child(2) {
    display: block; }
  .footer .footerCol .lists {
    text-align: right;
    margin: 0 !important;
    padding: 0 !important; } }
