@charset "UTF-8";
@import url("../fonts.css");
*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0 auto !important;
  background: #FFFFFF; }

li {
  list-style: none; }

i {
  cursor: pointer; }

p {
  font-family: "AvenirNext" !important; }

a {
  color: black !important;
  text-decoration: none;
  cursor: pointer; }

i {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "CTCSplachRounded" !important; }

hr {
  border: 1px solid #979797; }

.view {
  height: 100%; }

html,
body {
  overflow-x: hidden; }

.center-line {
  text-decoration: line-through; }

@media (max-width: 740px) {
  .view {
    height: 1000px; } }

@media (min-width: 800px) and (max-width: 850px) {
  .view {
    height: 650px; } }

.footer .footerCol p {
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.044px; }

.footer .footerCol .lists {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.056px; }
  .footer .footerCol .lists a {
    display: flex;
    flex-direction: column; }
  .footer .footerCol .lists p {
    font-size: 12px;
    line-height: 0;
    letter-spacing: 0.048px; }

.footer .footerCol .socials p {
  margin-right: 20px; }

.footer .footerCol .socials--icons {
  color: #EF2221;
  font-size: 20px; }
  .footer .footerCol .socials--icons i {
    width: 47px;
    height: 47px;
    border: 1px solid #EF2221;
    border-radius: 100%; }
    .footer .footerCol .socials--icons i:first-child {
      padding: 15px;
      padding-bottom: 17px;
      padding-top: 15px; }
    .footer .footerCol .socials--icons i:last-child {
      font-size: 21px;
      padding: 13px; }

.footer .footerCol .extra-info {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 23px 29px;
  border: 1px solid #DEDEDE;
  border-radius: 15px;
  transition: .3s;
  cursor: pointer;
  margin-bottom: 15px; }
  .footer .footerCol .extra-info:hover {
    background-color: #f2f2f2; }
  .footer .footerCol .extra-info p {
    color: #000000;
    margin-left: 29px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.056px; }

.navbar .navbar-toggler-icon .navbar-toggler-right {
  background-image: url("img/burger.svg"); }

.view {
  background: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 200px;
  position: relative; }

.links {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.056px; }

.logo {
  color: #EF2221 !important;
  font-size: 25px;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.12px; }

.header-text {
  justify-content: space-around; }

.header-imgs {
  display: flex;
  justify-content: space-between; }
  .header-imgs--right {
    display: flex;
    flex-direction: column-reverse; }

.secondary-header {
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.16px; }

.burger {
  color: #EF2221 !important; }

.phone-numbers {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.08px;
  color: #929292;
  display: none !important; }
  .phone-numbers li {
    margin-left: 25px; }
    .phone-numbers li .fa-whatsapp {
      color: green !important;
      margin-right: 5px; }
    .phone-numbers li b {
      color: black; }

.main-info p {
  padding: 0 25px; }

.box {
  border: 0.2px solid #dddcdc;
  padding: 10px 18px;
  padding-bottom: 0;
  border-radius: 15px;
  text-align: center; }
  .box:last-child {
    background-color: #F4F4F4; }

.calculator {
  position: absolute; }

.calculator-band {
  background-color: white;
  border-radius: 15px;
  padding: 40px 25px;
  -webkit-box-shadow: 12px 47px 59px -22px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 12px 47px 59px -22px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 47px 59px -22px rgba(0, 0, 0, 0.3); }
  .calculator-band .takebtn {
    border: none;
    background-color: #EF2221;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 15px; }

.calculator .texts {
  display: none !important; }

.money-progress {
  height: .5rem;
  width: 100%;
  background-color: #EAEAEA;
  border-radius: 4px; }

.money-progress .bar {
  height: 100%;
  background-color: #d8d5d5;
  border-radius: 4px; }

#money-progress-handle {
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -5px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid #D3D5DF;
  border-top-color: #D3D5DF;
  border-right-color: #D3D5DF;
  transform: rotate(45deg);
  border-radius: 100%;
  background-color: #EF2221;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.draggable {
  float: left;
  margin: 0 10px 10px 0; }

.otherPages h1 {
  font-size: calc(28px + (30 - 28) * ((100vw - 768px) / (1600 - 768)));
  line-height: 34px;
  letter-spacing: 0.12px; }

.otherPages--top .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .otherPages--top .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      .otherPages--top .container h1 {
        margin-bottom: 25px; } }

.otherPages--top button {
  font-size: calc(15px + (16 - 15) * ((100vw - 768px) / (1600 - 768)));
  color: white;
  background-color: #EF2221;
  border-radius: 6px;
  border: none;
  padding: 15px calc(36px + (46 - 36) * ((100vw - 768px) / (1600 - 768)));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.072px; }

.otherPages .voprosi {
  cursor: pointer;
  border: 1px solid #979797;
  border-radius: 17px;
  background-color: white;
  padding: 25px calc(15px + (42 - 15) * ((100vw - 320px) / (1600 - 320))) calc(6px + (36 - 6) * ((100vw - 320px) / (1600 - 320)));
  padding-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
  margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320))); }
  .otherPages .voprosi--top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .otherPages .voprosi--top h2 {
      color: black;
      line-height: 27px;
      letter-spacing: 0.096px;
      line-height: 27px;
      letter-spacing: 0.096px;
      font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320))) !important; }
    .otherPages .voprosi--top h2.collapsed:after {
      color: #EF2221; }
    .otherPages .voprosi--top a:after {
      content: "+";
      outline: none;
      color: #EF2221;
      font-size: 48px;
      font-family: "CTCSplachRounded"; }
    .otherPages .voprosi--top a.collapsed:after {
      content: "–";
      outline: none;
      color: #EF2221;
      font-size: 48px;
      font-family: "CTCSplachRounded"; }
  .otherPages .voprosi--otvet .otvet {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.056px; }
  .otherPages .voprosi--otvet .polezen h3,
  .otherPages .voprosi--otvet .polezen h5 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.064px;
    color: black; }
  .otherPages .voprosi--otvet .polezen--buttons a {
    width: 86px;
    height: 34px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 7px 29px 5px;
    transition: 0.2s; }
    .otherPages .voprosi--otvet .polezen--buttons a:hover {
      background-color: #f2f2f2; }

@media only screen and (max-width: 768px) {
  .mapping--text {
    text-align: center; } }

.mapping--text h2 {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.096px; }

.mapping--text .phones {
  display: flex;
  flex-direction: column; }

.phones .fa-phone {
  color: #EF2221;
  font-size: 18px !important;
  margin-right: 12px; }

.phones a {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.12px;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .phones a {
      display: flex;
      justify-content: center; } }
  .phones a:hover {
    text-decoration: none; }

.conditions:not(:last-child) {
  border-bottom: 1px solid #DDDDDD; }

@media only screen and (min-width: 768px) {
  .conditions .condition {
    display: flex !important;
    align-items: center !important; } }

@media only screen and (max-width: 768px) {
  .conditions .condition--info p {
    padding: 0 5px; } }

.conditions .condition {
  padding: 90px 0; }
  .conditions .condition--head {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .conditions .condition--head p {
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.072px; }
  .conditions .condition--info {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.056px; }
    .conditions .condition--info p {
      display: flex;
      justify-content: space-around; }

.oplata {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (min-width: 768px) {
    .oplata {
      padding: 0 calc(60px + (90 - 60) * ((100vw - 720px) / (1600 - 720))); } }
  @media only screen and (max-width: 768px) {
    .oplata--text {
      text-align: center; } }
  .oplata--text h2 {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.12px; }
  .oplata--text p {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.096px; }
    @media only screen and (min-width: 1440px) {
      .oplata--text p {
        width: 65%; } }
    @media only screen and (min-width: 1024px) {
      .oplata--text p {
        width: 80%; } }
  .oplata .oplataform {
    padding: 45px;
    background: #FFFFFF;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.13915);
    border-radius: 21px; }
    .oplata .oplataform .input-group {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .oplata .oplataform .input-group label h2 {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.064px; }
      .oplata .oplataform .input-group input {
        width: 100%;
        padding: 17px 0;
        border: 1px solid transparent;
        outline: 0;
        background: #F3F3F3;
        border-radius: 6px;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.064px;
        color: black;
        text-align: center;
        font-family: "CTCSplachRounded";
        transition: .5s; }
        .oplata .oplataform .input-group input:focus, .oplata .oplataform .input-group input:valid {
          border-color: #d5d5d6; }
      .oplata .oplataform .input-group ::-webkit-input-placeholder {
        color: #ADADAD; }
      .oplata .oplataform .input-group ::-moz-placeholder {
        color: #ADADAD; }
      .oplata .oplataform .input-group :-moz-placeholder {
        color: #ADADAD; }
      .oplata .oplataform .input-group :-ms-input-placeholder {
        color: #ADADAD; }
    .oplata .oplataform .buttonForm {
      display: flex;
      justify-content: center;
      align-items: center; }
    .oplata .oplataform--button {
      margin: 85px auto 40px;
      text-align: center;
      background-color: #EF2221;
      color: white;
      border: none;
      padding: 17px calc(45px + (58 - 45) * ((100vw - 720px) / (1600 - 720)));
      border-radius: 7px; }

.oplata {
  margin-bottom: 150px; }

.kakoplatit {
  text-align: center; }
  .kakoplatit p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.072px; }
  .kakoplatit .phones {
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 768px) {
      .kakoplatit .phones {
        display: flex;
        flex-direction: column; } }

.infomail {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.12px;
  padding: 10px 25px;
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 6px;
  text-decoration: none !important; }
  .infomail:hover {
    background-color: #f7f7f7; }

.pogasit {
  cursor: pointer;
  border: 1px solid #979797;
  border-radius: 17px;
  background-color: white;
  padding: 25px 32px;
  padding-bottom: 20px; }

.voprosiTop-left {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.animated-icon1 {
  width: 24px;
  height: 19px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.burger {
  border: none !important;
  outline: none !important;
  margin-bottom: 5px; }

.animated-icon1 span:nth-child(1) {
  top: 0px; }

.animated-icon1 span:nth-child(2) {
  top: 7px; }

.animated-icon1 span:nth-child(3) {
  top: 14px; }

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.animated-icon1 span {
  background: #EF2221; }

.primary {
  margin-top: 55px; }

.fa-phone {
  color: #4F4F4F;
  margin-right: 5px; }

nav {
  -webkit-box-shadow: 0px 94px 300px -57px rgba(0, 0, 0, 0.377);
  -moz-box-shadow: 0px 94px 300px -57px rgba(0, 0, 0, 0.384);
  box-shadow: 0px 94px 300px -57px rgba(0, 0, 0, 0.336); }

.links {
  display: flex; }
  .links li a {
    color: #353434 !important;
    font-size: 16px;
    text-decoration: none; }

.secondary-info .head-p {
  display: none; }

.secondary-red {
  color: #EF2221 !important; }

.secondary span {
  display: block; }

.red {
  color: #EF2221; }

.other-info {
  line-height: .5;
  margin-left: 15px; }

.percentage {
  font-size: 100px; }

nav {
  margin: 0; }

main {
  margin: 0; }

.big {
  color: #EF2221;
  font-size: 450px;
  font-weight: bold;
  letter-spacing: 15px; }

.big-right {
  display: flex;
  align-items: center;
  flex-direction: column-reverse; }

.info {
  display: block; }

.advantages {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .advantages--box {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 calc(20px + (48 - 20) * ((100vw - 767px) / (1600 - 767)));
    padding-bottom: 0;
    width: 369px;
    height: 369px;
    border-radius: 100%;
    border: 1px solid #979797; }
    .advantages--box:first-child {
      transform: translateY(10%); }
    .advantages--box:nth-child(2) {
      z-index: 1; }
    .advantages--box:nth-child(3) {
      transform: translateY(-10%); }

.main-info p {
  border-bottom: 0.8px solid #aca8a8;
  border-bottom-style: dotted; }
  .main-info p:last-child {
    border: none; }
  .main-info p:first-child {
    margin-top: 15px; }
  .main-info p b {
    display: inline-block; }

.secondary-info .head-p {
  display: inherit; }

.secondary-info--texts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: space-between;
  align-items: center; }
  .secondary-info--texts .box {
    padding: 17px 0; }
    .secondary-info--texts .box p {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.048px; }
      .secondary-info--texts .box p:last-child {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.072px; }

.present {
  position: relative;
  font-weight: bold; }
  .present:nth-child(2) .content h2 {
    font-size: 120px;
    letter-spacing: 0.48px;
    line-height: 135px; }
  .present .content {
    right: 15%;
    top: 15%;
    position: absolute;
    font-family: "CTCSplachRounded";
    text-align: left; }
    .present .content h2 {
      font-size: 60px;
      letter-spacing: 0.24px;
      line-height: 67px; }
    .present .content p {
      font-size: 20px;
      line-height: 22px; }
  .present .content-bottom {
    position: absolute;
    bottom: 2%;
    right: 15%; }

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .step:nth-child(2) object {
    margin-bottom: 17px; }

.stepmoney .little-header {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.072px; }

.stepmoney .whyus {
  font-size: 50px;
  font-family: "CTCSplachRounded";
  line-height: 56px;
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: normal;
  text-align: center; }
  .stepmoney .whyus--little {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.12px;
    font-family: "AvenirNext";
    font-style: normal;
    font-weight: normal; }

.advantages .advantage {
  display: flex;
  justify-content: start;
  margin-bottom: 35px; }
  .advantages .advantage--text {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.096px; }
  .advantages .advantage img {
    height: 55px;
    width: 55px;
    margin-right: 25px; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 55px 0; }
  .button button {
    color: white;
    background-color: #EF2221;
    border-radius: 6px;
    border: none;
    padding: 18px 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }

.bottom-banner {
  height: 80vh;
  background: url(../img/bottomBanner.png);
  background-repeat: no-repeat !important;
  background-position: center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  padding: 38px 0; }
  .bottom-banner .bContent {
    width: 55%;
    float: left; }
    .bottom-banner .bContent h1 {
      font-size: 150px;
      line-height: 168px;
      letter-spacing: 0.6px; }
    .bottom-banner .bContent .topText {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .bottom-banner .bContent .topText p {
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.12px; }
    .bottom-banner .bContent p {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.056px;
      width: 50%; }
    .bottom-banner .bContent--links {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 0.072px; }
      .bottom-banner .bContent--links button:first-child {
        color: white;
        background-color: #EF2221;
        border-radius: 6px;
        border: none;
        padding: 17px 32px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 42px; }
      .bottom-banner .bContent--links button:nth-child(2) {
        border: none; }

.bottom-banner--text {
  margin: 70px 0; }

@media only screen and (max-width: 768px) {
  nav {
    background-color: white; }
  .advantages {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .advantages--box {
      padding: 0 38px;
      width: 369px;
      height: 369px; }
  main {
    margin-top: 305px; }
  .main-info p {
    display: flex;
    justify-content: space-between; }
  .header-imgs img:first-child {
    margin-right: 15px; }
  .header-imgs--right img:last-child {
    margin-bottom: 21px; }
  .bottom-banner {
    display: none; }
  .present:nth-child(2) .content {
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 15px;
    padding: 18px; }
  .whyus-footer .whyus {
    text-align: left;
    font-size: 30px; }
    .whyus-footer .whyus--little {
      font-size: 24px !important; }
  .stepmoney .rounded button {
    border-radius: 30px; }
  .footer .footerCol .socials {
    display: flex;
    justify-content: start;
    align-items: center; }
    .footer .footerCol .socials--icons {
      color: #EF2221; }
  .secondary-info--texts {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .secondary-info--texts :last-child {
      grid-column: 1 / 3;
      background-color: white; } }

@media only screen and (max-width: 767px) {
  .footerCols:after, .footerCols:before {
    display: flex;
    flex-direction: row; }
  .footerCols .footerCol .lists {
    margin-top: 15px; }
  .footerCols .footerCol:nth-child(3) {
    order: 5; }
  .footerCols .footerCol:nth-child(5) {
    order: 3; }
  .footerCols .footerCol:nth-child(6) {
    order: 4; }
  .footerCols .footerCol:nth-child(4) {
    order: 6; } }

@media only screen and (min-width: 1024px) {
  .phone-numbers {
    display: flex !important; } }

@media only screen and (min-width: 768px) {
  main {
    margin-top: 195px; }
  .header-imgs {
    display: flex;
    justify-content: space-around; }
    .header-imgs--right {
      display: flex;
      justify-content: space-between;
      flex-direction: row; }
      .header-imgs--right img:first-child {
        margin-right: 18px; }
  .finance {
    position: relative; }
  .advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative; }
    .advantages--box h1 {
      font-size: 40px;
      line-height: 45px;
      font-weight: 200px; }
      .advantages--box h1 span {
        font-size: 100px;
        line-height: 112px; }
    .advantages--box p {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.056px; }
    .advantages--box:first-child {
      transform: translateX(10%); }
    .advantages--box:nth-child(2) {
      z-index: 1; }
    .advantages--box:nth-child(3) {
      transform: translateX(-10%); }
  hr {
    margin: 0 20px;
    border: 1px solid #DBDBDB; }
  .big-right {
    display: flex;
    flex-direction: row; }
  .calculator .texts {
    display: flex !important;
    justify-content: space-between; }
  .main-info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-info p {
      border: none;
      text-decoration: none; }
      .main-info p:first-child {
        margin-top: 0; }
      .main-info p b {
        display: block; }
  .whyus-footer .whyus span:nth-child(2) {
    display: block; }
  .footer .footerCol .lists {
    text-align: right;
    margin: 0 !important;
    padding: 0 !important; } }
