*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  max-width: 1350px;
  margin: 0 auto !important;
  background-color: #fdf9f9 !important; }

html,
body {
  overflow-x: hidden; }

.center-line {
  text-decoration: line-through; }

li {
  list-style: none; }

.burger {
  color: red !important; }

.phone-numbers {
  color: grey;
  display: none !important; }
  .phone-numbers li {
    margin-left: 25px; }
    .phone-numbers li .fa-whatsapp {
      color: green !important;
      margin-right: 5px; }
    .phone-numbers li b {
      color: black; }

.main-info p {
  padding: 0 25px; }

.box {
  border: 0.2px solid #dddcdc;
  padding: 10px 18px;
  padding-bottom: 0;
  border-radius: 15px;
  text-align: center; }
  .box:last-child {
    background-color: #dddcdc; }

.calculator-band {
  background-color: white;
  border-radius: 15px;
  padding: 40px 25px;
  -webkit-box-shadow: 12px 47px 59px -22px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 12px 47px 59px -22px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 47px 59px -22px rgba(0, 0, 0, 0.3); }
  .calculator-band button {
    border: none;
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 15px; }

.calculator .texts {
  display: none !important; }

.logo {
  color: red !important;
  font-size: 25px;
  font-weight: bold; }

.primary {
  margin-top: 55px; }

.links {
  display: flex; }
  .links li a {
    color: #353434 !important;
    font-size: 16px;
    text-decoration: none; }

.secondary-info p {
  display: none; }

.secondary-red {
  color: red !important; }

.secondary span {
  display: block; }

.red {
  color: red; }

.other-info {
  line-height: .5;
  margin-left: 15px; }

.percentage {
  font-size: 100px; }

.big {
  color: red;
  font-size: 250px;
  font-weight: bold; }

.info {
  display: block; }

.header-text {
  justify-content: space-around; }

.money-progress {
  height: .5rem;
  width: 100%;
  background-color: #e4dede; }

.money-progress .bar {
  height: 100%;
  background-color: #a7a4a4; }

#money-progress-handle {
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -5px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid #D3D5DF;
  border-top-color: #D3D5DF;
  border-right-color: #D3D5DF;
  transform: rotate(45deg);
  border-radius: 100%;
  background-color: red;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.draggable {
  float: left;
  margin: 0 10px 10px 0; }

.advantages {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .advantages--box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
    padding-bottom: 0;
    height: 300px;
    width: 300px;
    border-radius: 1200px;
    border: 1px solid black; }
    .advantages--box:first-child {
      left: 10% !important; }

.main-info p {
  border-bottom: 0.8px solid #aca8a8;
  border-bottom-style: dotted; }
  .main-info p:first-child {
    margin-top: 15px; }
  .main-info p b {
    display: inline-block; }

@media only screen and (max-width: 767px) {
  .main-info p {
    display: flex;
    justify-content: space-between; } }

@media only screen and (min-width: 767px) {
  .advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
  .phone-numbers {
    display: flex !important; }
  .calculator .texts {
    display: flex !important;
    justify-content: space-between; }
  .main-info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .main-info p {
      border: none;
      text-decoration: none; }
      .main-info p:first-child {
        margin-top: 0; }
      .main-info p b {
        display: block; }
  .secondary-info p {
    display: inherit; } }
