*,
*::after,
*::before {
    box-sizing: border-box
}

body {
    max-width: 1350px;
    margin: 0 auto !important;
    background-color: rgb(253, 249, 249) !important;
}

html,
body {
    overflow-x: hidden;
}

.center-line {
    text-decoration: line-through;
}