.mapping {
    &--text {
        @media only screen and (max-width: 768px) {
            text-align: center;
        }

        h2 {
            font-size: 24px;
            line-height: 27px;
            letter-spacing: 0.096px;
        }

        .phones {
            display: flex;
            flex-direction: column;

        }
    }

    &--map {}

}

.phones {
    .fa-phone {
        color: $main-color;
        font-size: 18px !important;
        margin-right: 12px;
    }

    a {
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0.12px;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
        }

        &:hover {
            text-decoration: none;
        }
    }
}