.otherPages {
    &--top {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));
            line-height: 34px;
            letter-spacing: 0.12px;
        }

        button {
            font-size: calc(16px + (18 - 10) * ((100vw - 320px) / (1600 - 320)));
            color: white;
            background-color: $main-color;
            border-radius: 6px;
            border: none;
            padding: 18px 46px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            text-align: center;
            letter-spacing: 0.072px
        }
    }

    .voprosi {
        cursor: pointer;
        border: 1px solid #979797;
        border-radius: 17px;
        background-color: white;

        padding: 25px 42px 36px;
        padding-bottom: 20px;

        &--top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media only screen and (max-width: 768px) {
                h2.collapsed:after {
                    font-size: 48px;
                }
            }

            h2 {
                font-size: 24px;
                line-height: 27px;
                letter-spacing: 0.096px;


            }

            a {


                &:after {
                    content: "+";
                    outline: none;
                    color: $main-color;
                    font-size: 48px;
                    font-family: "CTCSplachRounded";
                }

            }

            a.collapsed:after {
                content: "–";
                outline: none;
                color: $main-color;
                font-size: 48px;
                font-family: "CTCSplachRounded";
            }
        }

        &--otvet {
            .otvet {
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.056px;
            }

            .polezen {

                h3,
                h5 {
                    font-size: 16px;
                    line-height: 18px;
                    letter-spacing: 0.064px;
                    color: black
                }

                &--buttons {
                    a {
                        width: 86px;
                        height: 34px;
                        border: 1px solid #D9D9D9;
                        border-radius: 4px;
                        padding: 7px 29px 5px;
                        transition: 0.2s;

                        &:hover {
                            background-color: darken($color: white, $amount: 5);
                        }
                    }
                }
            }
        }

    }
}