@import "variables";
@import "base";

@import "footer";
@import "header";
@import url("../fonts.css");



.primary {
    margin-top: 55px;
}

.links {
    display: flex;

    li a {
        color: rgb(53, 52, 52) !important;
        font-size: 16px;
        text-decoration: none;
    }
}

.secondary-info .head-p {
    display: none;
}

.secondary-red {
    color: $main-color !important;
}

.secondary span {
    display: block;
}

.red {
    color: $main-color;
}

.other-info {
    line-height: .5;
    margin-left: 15px
}

.percentage {
    font-size: 100px;
}

nav {
    margin: 0;
}

main {
    margin: 0
}

.big {
    color: $main-color;
    font-size: 450px;
    font-weight: bold;
    letter-spacing: 15px;
}

.big-right {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.info {
    display: block;
}





.advantages {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--box {
        &:first-child {
            left: 10% !important;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 45px;
        padding-bottom: 0;
        height: 300px;
        width: 300px;
        border-radius: 1200px;
        border: 1px solid black
    }
}


.main-info {
    p {
        // display: flex;
        // justify-content: space-between;
        border-bottom: .8px solid rgb(172, 168, 168);
        border-bottom-style: dotted;

        &:last-child {
            border: none;
        }

        &:first-child {
            margin-top: 15px
        }

        b {
            display: inline-block;
        }
    }
}

.secondary-info {
    .head-p {
        display: inherit;
    }

    &--texts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

}

.box {
    flex: 1 0 auto;
}


.present {
    position: relative;
    font-weight: bold;

    &:nth-child(2) {
        .content {
            h2 {
                font-size: 120px;
                letter-spacing: 0.48px;
                line-height: 135px;
            }
        }
    }

    .content {
        right: 15%;
        top: 15%;
        position: absolute;
        font-family: "CTCSplachRounded";
        text-align: left;

        h2 {
            font-size: 60px;
            letter-spacing: 0.24px;
            line-height: 67px;
        }


        p {
            font-size: 20px;

            line-height: 22px;
        }
    }

    .content-bottom {
        position: absolute;
        bottom: 2%;
        right: 15%;
    }
}


.step {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(2) {
        img {
            height: 193px;
        }
    }
}


.stepmoney {
    .little-header {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.072px;
    }

    .whyus {
        font-size: 50px;
        font-family: "CTCSplachRounded";
        line-height: 56px;
        letter-spacing: 0.2px;
        font-style: normal;
        font-weight: normal;
        text-align: center;

        &--little {
            font-size: 30px;
            line-height: 38px;
            letter-spacing: 0.12px;
            font-family: "AvenirNext";
            font-style: normal;
            font-weight: normal;
        }
    }
}

.advantages {
    .advantage {
        display: flex;
        justify-content: start;
        margin-bottom: 35px;

        &--text {
            font-size: 24px;
            line-height: 31px;
            letter-spacing: 0.096px;
        }

        img {
            height: 55px;
            width: 55px;
            margin-right: 25px;
        }
    }

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px 0;

    button {
        color: white;
        background-color: $main-color;
        border-radius: 6px;
        border: none;
        padding: 18px 90px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bottom-banner {
    height: 80vh;
    background: url(../img/bottomBanner.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    padding: 38px 0;

    .bContent {
        width: 55%;
        float: left;

        h1 {
            font-size: 150px;
            line-height: 168px;
            letter-spacing: 0.6px;
        }



        .topText {
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 30px;
                line-height: 34px;
                letter-spacing: 0.12px;

            }
        }

        p {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.056px;
            width: 50%;
        }

        &--links {
            display: flex;
            align-items: center;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.072px;

            button {
                &:first-child {
                    color: white;
                    background-color: $main-color;
                    border-radius: 6px;
                    border: none;
                    padding: 17px 32px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 42px;
                }

                &:nth-child(2) {
                    border: none;
                }
            }
        }
    }
}

.bottom-banner {
    &--text {
        margin: 70px 0;
    }
}




// Media queries
@media only screen and (max-width: 768px) {
    .main-info {
        p {
            display: flex;
            justify-content: space-between;
        }
    }

    .header-imgs {
        img:first-child {
            margin-right: 15px;
        }

        &--right {

            img:last-child {
                margin-bottom: 21px;
            }

        }
    }

    .bottom-banner {
        display: none;
    }


    .present:nth-child(2) {
        .content {
            background-color: rgba(255, 255, 255, 0.349);
            border-radius: 15px;
            padding: 18px
        }
    }

    .whyus-footer {
        .whyus {
            text-align: left;
            font-size: 30px;

            &--little {
                font-size: 24px !important;
            }
        }
    }

    .stepmoney {
        .rounded {
            button {
                border-radius: 30px;
            }
        }
    }

    .footer {
        .footerCol {
            .socials {
                display: flex;
                justify-content: start;
                align-items: center;

                &--icons {
                    color: #EF2221;
                }
            }
        }
    }

    .footerCols {
        display: flex;
        flex-direction: row;
        justify-content: start;

        &:after,
        &:before {
            display: flex;
        }

        .footerCol:nth-child(5) {
            flex: 3
        }

        .footerCol:nth-child(6) {
            flex: 4
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {}

    .header-imgs {
        display: flex;
        justify-content: space-around;

        &--right {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            img:first-child {
                margin-right: 18px;
            }
        }
    }

    .advantages {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    hr {
        margin: 0 20px;
        border: 1px solid #DBDBDB;
    }


    .big-right {
        display: flex;
        flex-direction: row;
    }

    .phone-numbers {
        display: flex !important;
    }

    .calculator {
        .texts {
            display: flex !important;
            justify-content: space-between;
        }
    }

    .main-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            // display: inherit;
            // flex-direction: column;
            border: none;

            &:first-child {
                margin-top: 0
            }

            text-decoration: none;

            b {
                display: block
            }
        }
    }

    .whyus-footer {
        .whyus {
            span {
                &:nth-child(2) {
                    display: block
                }
            }
        }
    }

    .footer {
        .footerCol {

            .lists {
                text-align: right;

                margin: 0 !important;
                padding: 0 !important;
            }

        }

    }
}