@font-face {
    font-family: 'AvenirNext';
    src: url('./fonts/AvenirNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext';
    src: url('./fonts/AvenirNext-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LucidaGrande';
    src: url('./fonts/lucidagrande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'CTCSplachRounded';
    src: url('./fonts/10475.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}